@use 'font';

$primary-color: #FFA458;
$secondary-color: #BA3B0A;
$accent-color: #BA3B0A;
$body-text-color: #333;
$heading-font-family: 'ptsansregular', helvetica, arial;
$body-font-family: 'ptsansregular', helvetica, arial, sans-serif;
$base-font-size: 18px;
$base-font-weight: 400;