@use "../abstracts/colors.scss";

body {
  background-color: colors.$background-color;

  main {

    canvas {
      position: fixed;
      z-index: 3;
    }

    header {
      z-index: 2;
    }

    section {
      position: relative;
      z-index: 50;
    }
  }
}