.dud {
  color: #885a5a;
}

@media screen and (min-width: 1200px) {
  .hero-con {
    height: fit-content;
    padding-top: 100px;
    align-content: center;
  }

  #subheroTitle h2 {
    font-size: 5rem;
    margin-top: 4rem;
  }

  .text {
    padding-top: 80px;
    font-weight: 100px;
    font-size: 3rem;
    color: #474747;
  }

  #subheroText p {
    font-size: 1.2rem;
    margin-top: 1rem;
  }

  #explore-btn {
    font-size: 1.1rem;
    margin-top: 30px;
    height: 3rem;
    background-color: #885a5a;
    color: #f5ebe0;
    text-decoration: none;
  }
}

@media screen and (min-width: 380px) and (max-width: 1199px) {

  .hero-con {
    height: fit-content;
    padding-top: 80px;
    align-content: center;
  }

  #subheroTitle {
    font-size: 3rem;
    margin-top: 4rem;
  }

  .text {
    padding-top: 80px;
    font-weight: 100px;
    font-size: 1.5rem;
    color: #474747;
  }

  #subheroText {
    line-height: 1.8rem;
    font-size: 1.3rem;
    margin-top: 1.5rem;
  }

  #explore-btn {
    justify-self: center;
    align-self: center;
    text-align: center;
    width: 20vw;
    font-size: 1.1rem;
    margin-top: 30px;
    height: 3rem;
    background-color: #885a5a;
    color: #f5ebe0;
    text-decoration: none;
  }
}