@media screen and (min-width: 1200px) {
    #hero-con {
        height: fit-content;
        padding-top: 100px;
        align-content: center;
    }

    #heroText h1 {
        font-size: 6rem;
    }

    #subheroTitle h2 {
        font-size: 2rem;
        margin-top: 4rem;
    }

    #subheroText p {
        font-size: 1.2rem;
        margin-top: 1rem;
    }

    #explore-btn {
        font-size: 1.1rem;
        margin-top: 30px;
        height: 3rem;
        background-color: #885A5A;
        color: #F5EBE0;
        text-decoration: none;
    }
}

@media screen and (min-width: 380px) and (max-width: 1199px) {
    #hero-con {
        height: fit-content;
        padding-top: 80px;
        align-content: center;
    }

    #heroText h1 {
        font-size: 4rem;
    }

    #subheroTitle h2 {
        font-size: 1.5rem;
        margin-top: 4rem;
    }

    #subheroText p {
        font-size: 1rem;
        margin-top: 1rem;
    }

    #explore-btn {
        margin-top: 30px;
        height: 38px;
        background-color: #885A5A;
        color: #F5EBE0;
    }
}