@forward "about";
@forward "portfolio";
@forward "home";
@forward "contact";
@forward "case1";

.hero-con {
  font-family: "PTSansCaption-Regular";
}

#menu {
  font-family: "PTSansCaption-Regular";
}

#contact-us-page-con {
  font-family: "PTSansCaption-Regular";
}

#contact-us-page-title {
  font-family: "PTSansCaption-Regular";
}

a {
  font-family: "PTSansCaption-Regular";
}