@media screen and (min-width: 1200px) {
  #portfolio h1 {
    font-size: 6rem;
    margin-top: 6rem;
    line-height: 8rem;
  }

  #portfoliodesc p {
    font-size: 1.7rem;
    margin-top: 1rem;
    line-height: 2rem;
  }

  #portimage1,
  #portimage2 {
    margin-top: 350px;
    height: 500px;
  }

  #portimage3,
  #portimage4 {
    margin-top: 1rem;
    height: 500px;
  }

  #aboutmetitle {
    text-align: center;
    margin-top: 15rem;
    font-size: 5rem;
  }

  #aboutmedesc {
    text-align: center;
    margin-top: 1rem;
    font-size: 1.5rem;
  }

  #explore-btn3 {
    justify-self: center;
    align-self: center;
    text-align: center;
    font-size: 1.1rem;
    margin-top: 30px;
    height: 3rem;
    background-color: #885a5a;
    color: #f5ebe0;
    text-decoration: none;
  }
}

@media screen and (min-width: 380px) and (max-width: 1199px) {
  #portfolio {
    font-size: 3.5rem;
  }

  #portfoliodesc {
    line-height: 1.8rem;
    font-size: 1.6rem;
  }

  #portimage1 {
    width: 75vw;
    justify-self: center;
    margin-top: 100px;
    height: auto;
  }

  #portimage2 {
    width: 75vw;
    justify-self: center;
    margin-top: 5rem;
    height: auto;
  }

  #portimage3 {
    width: 75vw;
    justify-self: center;
    margin-top: 5rem;
    height: auto;
  }

  #portimage4 {
    width: 75vw;
    justify-self: center;
    margin-top: 5rem;
    height: auto;
  }

  #aboutmetitle {
    justify-self: center;
    font-size: 3rem;
    margin-top: 164px;
  }

  #aboutmedesc {
    justify-self: center;
    align-self: center;
    text-align: center;
    font-size: 1.6rem;
    line-height: 1.8rem;
    margin-top: 1rem;
  }

  #explore-btn3 {
    justify-self: center;
    align-self: center;
    text-align: center;
    width: 20vw;
    font-size: 1.1rem;
    margin-top: 30px;
    height: 3rem;
    background-color: #885a5a;
    color: #f5ebe0;
    text-decoration: none;
  }
}
